* {
    padding: 0;
    box-sizing: border-box;
}

p {
    color: white;
    font-weight: bold;
}

body {
    background-image: url("https://images4.alphacoders.com/855/85556.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Quicksand', sans-serif;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.532);
    border-radius: 8px;
    box-shadow: inset -2px 2px 2px white;
}

.header {
    background-color: #ad1a59;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 8px;
}

.header h3 {
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin: 0;
}

form {
    background-color: #ad1a59;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

input[type="text"],
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    color: #333;
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    outline: none;
    background-color: #e0e0e0;
}



input[type="radio"]+label {
    display: inline-block;
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 20px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="radio"]:checked+label {
    background-color: #f9004d;
    color: #8FBC8F;
}



textarea {
    resize: none;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #f9004d;
    color: #8FBC8F;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #f9004d;
}